body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
#status{
  color: black;
  width: 100px;
  height: 100px;
}
#fetchButton{
  width: 100px;
  height: 50px;
  color: blue;
}